<?xml version="1.0" encoding="UTF-8"?>

<suite name="Yandex Market Suite">
    <test name="Chrome">
        <parameter name="browserName" value="chrome" />
            <classes>
                <class name="SavedMobilePhonesTest"/>
            </classes>
    </test>
    <test name="FireFox">
        <parameter name="browserName" value="firefox" />
        <classes>
            <class name="SavedMobilePhonesTest"/>
        </classes>
    </test>
</suite>